body {
    background-color: black;
    font-family: sans-serif;
}
.top-bar {
    width: auto;
    height: 100%;
    background-color: white;
    display: flex;
}
#lam-logo {
    width: auto;
    height: 90px;
    margin: 5px;
    margin-left: 25%;
}
#titel {
    margin-left: 25%;
}
h2 {
    color: #707070;
    font-size: 40px;
}
#blok {
    background-color:  #A1724E;
    height: 225px;
    width: 1300px;
    padding-top: 25px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid #A1724E;
    border-radius: 12px;
}
#links {
    color: #707070;
    background-color: white;
    width: 300px;
    height: 200px;
    border: 2px solid white;
    border-radius: 12px;
    margin-left: 150px;
    font-size: 18px;
    padding: 0px 20px;
}
#rechts {
    color: #707070;
    height: 200px;
    margin-left: 850px;
    margin-top: -200px;
}
#VR {
    background-color: wheat;
    width: 1300px;
    height: 720px;
    margin: 10px auto;
}
#kaart {
    background-color: lime;
    border: 2px solid lime;
    border-radius: 12px;
    margin: 50px auto;
    width: 530px;
    height: 60px;
    display: flex;
    color: #707070;
    padding: 7px 15px;
}
#kaartjes {
    background-color: red;
    margin: 20px auto;
    width: 165px;
    height: 16px;
    border: 2px solid lime;
    border-radius: 12px;
    padding: 4px;
    text-decoration: none;
    margin: 15px 0px;
    padding: 10px;
}
#kaartjes:hover {
    background-color: #A1724E
}
footer {
    background-color: wheat;
    color: #707070;
    padding: 10px 30px;
    margin: 10px auto;
    display: flex;
}
footer section {
    flex: 25%;
}
footer a {
    background-color: #A1724E;
    margin: 20px auto;
    width: 165px;
    height: 16px;
    border: 2px solid #919191;
    border-radius: 12px;
    padding: 6px;
    text-decoration: none;
    margin: 90px 0px;
}